<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.so_unlam.chiapp">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EstadoActivity"
            android:label="@string/estado_name">
            <intent-filter>
                <action android:name="ar.com.so_unlam.chiapp.EstadoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LogActivity"
            android:label="@string/log_name">
            <intent-filter>
                <action android:name="ar.com.so_unlam.chiapp.LogActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CodigoQrActivity"
            android:label="@string/qr_name">
            <intent-filter>
                <action android:name="ar.com.so_unlam.chiapp.CodigoQrActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode">
            </meta-data>
        </activity>

    </application>
</manifest>